PUBLIC_SUPABASE_URL=https://wnamhqorcmkwjatbjlkq.supabase.co
PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-iO_42Hfeig1Ceh69LbM7w_lwatqJKc

R2_PUBLIC_URL=https://pub-d633a7c3cd0cd71ea3144f17896d4e65.r2.dev
PUBLIC_BASE_URL=http://localhost:5173

# Crawler API 인증 키 (강력한 랜덤 문자열 사용)
CRAWLER_API_KEY=5d34f78b560d862c8875bd0a67709c13ff1c24275dd664e3767f288da29ff081